<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Add Appliance</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Add Appliance</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <h1 class="ion-margin">Add your appliance</h1>
    <form (ngSubmit)="addUserAppliance()">
      <ion-list>
        <ion-item>
          <ion-select
            [(ngModel)]="inputAppliance"
            name="appliance"
            label="Appliance"
            placeholder="Select"
            interface="popover"
          >
            @for (appliance of appliances; track $index) {
            <ion-select-option [value]="appliance.id">
              {{appliance.name}}
            </ion-select-option>
            }
          </ion-select>
        </ion-item>
        @if (rooms.length != 0) {
        <ion-item>
          <ion-select
            [(ngModel)]="inputRoom"
            name="room"
            label="Available Room"
            placeholder="Select"
            interface="popover"
          >
            @for (room of rooms; track $index) {
            <ion-select-option [value]="room"> {{room}} </ion-select-option>
            }
          </ion-select>
        </ion-item>
        }
        <ion-item>
          <ion-input
            type="text"
            [(ngModel)]="inputRoom"
            name="room"
            required
            label="Input Room"
          ></ion-input>
        </ion-item>
      </ion-list>
      <ion-button expand="block" type="submit" class="ion-margin">
        Save
      </ion-button>
    </form>
  </div>
</ion-content>
