<div class="container">
  <h1 class="analyze-table-header">AI Analyze Table</h1>
  <div class="chat-container">
    <div class="chat ai-response">
      Hello, you can ask me about specific data from the table
    </div>
    @for (chat of chats.AIResponse; track $index; let i = $index) {
    <div class="user-question-container">
      <div class="chat user-question">{{ chats.UserQuestion[i] }}</div>
    </div>
    <div class="chat ai-response">{{ chat }}</div>
    }
    <form (ngSubmit)="analyzeTable()">
      <div class="input-query">
        <ion-input
          type="text"
          [(ngModel)]="query"
          name="query"
          required
        ></ion-input>
        <ion-button fill="clear" type="submit" class="ion-margin-top"
          >Send</ion-button
        >
      </div>
    </form>
  </div>
</div>
